[submodule "CSA/CSA_hw"]
	path = CSA/CSA_hw
	url = https://github.com/drasolo/CSA_hw.git
[submodule "WT/WT_project"]
	path = WT/WT_project
	url = https://github.com/drasolo/WT_project.git
[submodule "OS/MY_shell"]
	path = OS/MY_shell
	url = https://github.com/drasolo/OS_project.git
[submodule "SGBD/Open-Discution-Platfrom-Database"]
	path = SGBD/Open-Discution-Platfrom-Database
	url = .https://github.com/drasolo/DBMS_project.git
